# Системні файли операційної системи
.DS_Store
Thumbs.db
desktop.ini


# Кеш та тимчасові файли Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Налаштування та кеш середовищ розробки (IDE)
.idea/
.vscode/
*.swp


# Jupyter
.ipynb_checkpoints/


# Теки віртуального середовища Python
venv/
env/
.venv/


# Теки збірки або результати компіляції
build/
dist/
bin/


# Файли журналів роботи програм
*.log


# Файли з даними (якщо вони великі або генеруються автоматично)
*.txt
*.csv
*.json
